<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WnetLeisure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WnetLeisure.Properties.Settings>
            <setting name="IS600ENutzer" serializeAs="String">
                <value />
            </setting>
            <setting name="IS600EPW" serializeAs="String">
                <value />
            </setting>
            <setting name="WtouchNutzer" serializeAs="String">
                <value />
            </setting>
            <setting name="WtouchPW" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpaddIS600E" serializeAs="String">
                <value />
            </setting>
            <setting name="devPW" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLServer" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportServer" serializeAs="String">
                <value />
            </setting>
            <setting name="trustServerCert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportSpeicherOrdner" serializeAs="String">
                <value />
            </setting>
        </WnetLeisure.Properties.Settings>
    </userSettings>
</configuration>